# dependencies
/node_modules
/.pnp
.pnp.*
__pycache__/
*.py[cod]
*.egg-info/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Database
*.db
*.sqlite
